body {
  background: #eeeeee;
}

#img {
  width: 100<percentage>;
}

p {
  text-align: justify;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4{
  text-align: center;
}
